<dialog>
    <div class="container">
        <div class="header">
            {{#if headerError}}
            <div class="headerError"><img src="../img/exclamation_mark.svg" />{{headerError}}</div>
            {{/if}}
            <div class="label">
                {{actionText}} <a href="{{url}}">{{key}}</a>
            </div>
            <h1>{{{subject}}}</h1>
            <div class="label key-value">
                <span class="key">Current assignee</span>
                <span class="value">{{assignee}}</span>
            </div>
        </div>
        <div class="content">
            <alert isVisible="{{showError}}">{{errorMessage}}</alert>
            {{{content}}}
        </div>
        {{#if footer}}
        <div class="footer">
            {{#if isLoading}}
            <action:button id="performDialogAction" type="needs-confirmation" isDisabled="true" />
            <action:button id="closeDialog" type="dismiss" isDisabled="true" />
            {{else}}
            <action:button id="performDialogAction" type="good" />
            <action:button id="closeDialog" type="dismiss"/>
            {{/if}}
        </div>
        {{/if}}
    </div>
</dialog>