<dialog>
    <div class="modal-content">
        <div class="modal-header">
            <div class="label">
                {{actionText}} <a href="{{url}}">{{key}}</a>
            </div>
            <h1>{{subject}}</h1>
        </div>
        <div class="modal-content">
            {{{content}}}
        </div>
        <div class="modal-footer">
            <action id="save" class="tempo-btn tempo-btn--good"/>
            <action id="cancel" class="tempo-btn tempo-btn--dismiss"/>
        </div>
    </div>
</dialog>