<dialog>
    <div class="container">
        <div class="header">
            <div class="label">
                {{actionText}} <a href="{{url}}">{{key}}</a>
            </div>
            <h1>{{{subject}}}</h1>
        </div>
        <div class="content">
            <alert isVisible="{{showError}}">{{errorMessage}}</alert>
            {{{content}}}
        </div>
        {{#if footer}}
        <div class="footer">
            {{#if isLoading}}
            <action id="performDialogAction" type="needs-confirmation" isLoading="true" isDisabled="true" />
            <action id="closeDialog" type="dismiss" isDisabled="true" />
            {{else}}
            <action id="performDialogAction" type="good" />
            <action id="closeDialog" type="dismiss"/>
            {{/if}}
        </div>
        {{/if}}
    </div>
</dialog>